---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout title="TOP">
	<div class="flex">
		<Sidebar></Sidebar>
        <div class="flex-grow text-white text-5xl font-bold px-40 py-32">
				Inbox
			<div>

			</div>
		</div>
      </div>
    </div>
</Layout>

